.container {
    display: flex;
    border: 1px solid red;
    justify-content: center;
    padding: 10px;
    flex-direction: column;
    align-items: center;
}

.calcContainer {
    display: flex;
    border: 1px solid black;
    padding: 10px;
    flex-direction: column;
}

#numOpContainer {
    display: flex;
    border: 1px solid blue;
    justify-content: space-evenly;
    align-items: center;
    flex: 1;
    flex-wrap: wrap;
    width: 400px;
    height: 500px;
}

.numBtn {
    font-size: large;
    width: 100px;
    height: 100px;
}

.opBtn {
    font-size: large;
    width: 100px;
    height: 100px;
}

#equals, #clear {
    width: 200px;
}

.displayContainer {
    display: flex;
    flex: 1;
    padding: 5px;
    justify-content: flex-end;
}


.calcDisplay {
    border: 1px solid black;
    display: flex;
    justify-content: flex-end;
    flex: 1;
    min-height: 50px;
}